<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/JsBarcode.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basawa Technologies Assignment</title>
    <style type="text/css">
        @page {
            size: A7;
            left: 20px;
        }
    </style>
</head>
<body>
<div class="card3by1">
    <table>
        <tbody>
        <tr>
            <td style="width: 96px; height: 96px">
                <canvas
                        style="width: 90px; height: 90px; position: fixed"
                        id="qrcanvas"
                        height="100"
                        width="100"
                >
                </canvas>
                <img
                        id="barcodecanvas"
                        style="width: 90px; height: 90px; position: relative"
                        src="{{ qr_code_path }}"
                />
            </td>

            <td style="text-align: left; font-size: 15px">
                <b id="s1">{{ field1_value }} : </b>
                <span id="s2" onclick="setActiveField('i1')">{{ value1_value }}</span><br />
                <b id="s3">{{ field2_value }} : </b>
                <span id="s4" onclick="setActiveField('i3')">{{ value2_value }}</span><br />
                <b id="s5">{{ field3_value }} : </b>
                <span id="s6" onclick="setActiveField('i5')">{{ value3_value }}</span><br />
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
